<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ChangeCarColor_Omron.Properties.Settings.YLALCConnectionString"
            connectionString="Data Source=ylalcs01;Initial Catalog=YLALC;Persist Security Info=True;User ID=asmequ11;Password=asmequ11pwd"
            providerName="System.Data.SqlClient" />
        <add name="ChangeCarColor_Omron.Properties.Settings.PaintAPPConnectionString"
            connectionString="Data Source=ylpeps02;Initial Catalog=PaintAPP;Persist Security Info=True;User ID=PaintAP01;Password=PaintAP01@pwd"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>